<head>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>

<div id="home" class="parent">

    <app-navbar></app-navbar>
    
    <section id="header" class="header">
        <mat-drawer-container [hasBackdrop]="true">
            <mat-drawer #drawer mode="over" autoFocus="false">
                <button mat-icon-button id="clearButton" class="clear-icon" (click)="drawer.close()">
                    <mat-icon>clear</mat-icon>
                </button>
                <div class="presentation-text">
                    <h3 class="about-me black-color">About me</h3>
                    <p class="black-color" [innerHTML]="formatAboutMe(aboutme)">
                    </p>
                </div>
            </mat-drawer>

            <div class="div-header">
                <div class="full-screen-header">
                    <div class="container">
                        <h1 class="slide-right-in">{{welcome}}</h1>
                        <p class="about-me-text slide-left-in" [innerHTML]="formatAboutMe(aboutme)">
                        </p>
                    </div>
                    <img class="profile-img fade-in" src="../assets/img/profile.jpg" alt="Immagine di profilp">
                </div>
                <h1 class="phone-screen slide-right-in">{{welcome}}</h1>
                <button mat-flat-button class="about-me-button slide-up-in" (click)="drawer.open()">
                    More about me
                </button>
            </div>
        </mat-drawer-container>
    </section>     

    <section id="Research">
            <h2>Research</h2>
            <div class="grid">
                <a class="research-item" *ngFor="let publication of publications" href="{{publication.link}}" target="_blank">
                    <mat-card>
                        <mat-card-content>
                            <h3 class="research-title">{{publication.title}}</h3>
                            <p class="research-text">{{publication.description}}</p>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
    </section>
    

    <section id="Events">
       <h2>Events</h2>
       <div class="grid">
            <mat-list class="subject-list">
                <h3 class="talks-title">Past talks</h3>
                <div *ngFor="let pev of pastevents">
                    <span matListItemTitle><b>{{pev.title}}</b></span>
                    <span matListItemLine>{{pev.description}}</span>
                    <a matListItemLine href="{{pev.link}}" target="_blank">{{pev.location}}</a>
                    <p class="talks"></p>
                    <br>
                </div>
            </mat-list>
            
            <mat-list class="subject-list">
                <h3 class="talks-title">Upcoming talks</h3>
                    <div *ngFor="let uev of upcoming">
                    <span matListItemTitle><b>{{uev.title}}</b></span>
                    <span matListItemLine>{{uev.description}}</span>
                    <a matListItemLine href="{{uev.link}}" target="_blank">{{uev.location}}</a>
                    <br>
                    </div>
            </mat-list>
       </div>
       <div class="legenda">
            <p>{{talkslegend[0]}}</p>
            <p>{{talkslegend[1]}}</p>
       </div>
    </section>


    <section id="Links">
        <h2>Some links</h2>
         <mat-list class="link-list">
                 <mat-list-item *ngFor="let link of links">
                     <a matListItemTitle href="{{link.link}}" target="_blank"><b>{{link.title}}</b></a>
                     <span matListItemLine>{{link.description}}</span>
                 </mat-list-item>
         </mat-list>
     </section>

  <section id="Teaching">
       <h2>Teaching</h2>
        <mat-list class="subject-list">
                <mat-list-item *ngFor="let sub of subjects">
                    <a matListItemTitle href="{{sub.link}}" target="_blank"><b>{{sub.title}}</b></a>
                    <span matListItemLine>{{sub.description}}</span>
                </mat-list-item>
        </mat-list>
    </section>

    <section id="Contact">
        <h2>Contact</h2>

        <app-contactform></app-contactform>
        
            <p>Or write directly at: </p>
            <a><button mat-button [matMenuTriggerFor]="menu">sava[at]karlin.mff.cuni.cz</button></a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="copyToClipboard(); openSnackBar('email address copied')"><mat-icon>file_copy</mat-icon>Copy</button>
                <button mat-menu-item (click)="writeMessage()"><mat-icon> email</mat-icon>Write directly</button>
              </mat-menu>
            <p class="info">  <a href="https://www.mff.cuni.cz/en/math/ka/department" target="_blank">{{department}} </a><br>
                <a href="{{university_link}}" target="_blank">{{faculty}} </a><br>
                {{address}}</p>
            
        <footer *ngIf="isWindowGreaterThan600">
            <h3>Credits</h3>
            <div class="riccardoventurini">
                <p>Built with <span class="love">❤</span> by <a href="https://riccardoventurini.dev/">Riccardo Venturini</a></p>
            </div>
        </footer>
        <p *ngIf="!isWindowGreaterThan600">Built with <span class="love">❤</span> by <a href="https://riccardoventurini.dev/">Riccardo Venturini</a></p>
    </section>
</div>
