@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --blue-light: #559BD9;
    --blue: #4D7A8C;
    --central: #283940;
    --adark-light: #152618;
    --dark: #040D01;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.parent{
    overflow-y: scroll;
    height: 100vh;
    /*scroll-snap-type: y mandatory;*/
    scrollbar-width: none;
}

.profile-img {
    height:400px;
    border-radius: 50%;
    z-index: 3;
}

.sidebar {
    display: none;
}

h1{
    font-family: "Lato", sans-serif;
    font-size: 90px;
    margin-bottom: 60px;
    line-height: 120%;
    color: #000;
    text-align: center;
    padding-inline: 20px;
}

.phone-screen{
    display: none;
}

h2{
    font-family: "Lato", sans-serif;
    font-size: 40px;
    
    z-index: 1;
    color: #000;
}

h3{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    z-index: 1;
    color: #000;
}

p{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #000;
    z-index: 1;
}

a{
    font-size: 15px;
    color: #000;
    z-index: 1;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

span{
    color: #000;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

section{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    padding-block: 15vh;
}

.header{
    height: 100vh;
    padding-top: 0px;
    background-color: #C7F6F6;
}

.image {
    position: absolute;
    width: 400px;
    height: auto;
    transition: transform 0.3s ease;
}

.clear-icon{
    position: absolute;
    right: 10px;
}

@media (min-width: 768px) {
  .publications {
    padding: 0 40px;
  }
}

.grid{
    display: flex;
    z-index: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

mat-list-item:nth-child(n){
    height: 10vh;
    min-height: 100px;
    max-height: 300px;
}

mat-card:nth-child(n){
    border-radius: 15px;
    padding: 20px;
}

.research-title{
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    line-height: 120%;
}

.research-item{
    text-decoration: none;
    margin-block: 30px;
    margin-inline: 30px;
}

.research-item:hover .research-title,
.research-item:hover .research-text{
    color:#585858;
}

.research-text{
    margin-top: 15px;
    line-height: 140%;
}

.menu-icon{}

mat-drawer-container {
    background-color: white;
    width: 100%;
    height: 100%;
}
  
mat-drawer {
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 65px;
}

.talk-grid{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.talk-list{
    margin: 30px;
}

.talks-title{
    font-weight: bold;
}

.subject-list,
.link-list{
    width: 90%;
}

.subject-list a,
.link-list a{
    color: #7c0c9e;
    font-size: 22;
}

.subject-list a:hover,
.link-list a:hover{
    color: #B94ED9;
}

.div-header{
    background-color: #C7F6F6;
    overflow-x: hidden;
    position:relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.header-background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.full-screen-header{
    display: flex;
    flex-direction: row;
    padding: 100px;
    align-items: center;
}

.black-color{
    color: #000;
}

.presentation-text{
    padding: 30px;
    width: 300px;
}

.about-me{
    text-align: center;
}

.about-me-button{
    display: none;
}

footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    z-index: 1;
}


.container{
    position: relative;
    align-items: center;
    margin-right: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: right;
    flex-direction: column;
}

.about-me-text{
    color: #000;
    font-size: 26px;
    line-height: 150%;
    max-width: 800px;
}

.footer-text{
    font-size: 12px;
    color: #000;
}

.riccardoventurini{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

app-contactform{
    transform: translateX(-50px);
    margin-bottom: 50px;
    z-index: 1;
}

.email{
    font-size: 18px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

.link:after{
    background-color: #111;
    content: "";
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.link:hover:after {
    transform: translate(0, 0);
}

.link:active {
    background-color: #fff;
    outline: 0;
}

.link:hover {
    outline: 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-left-in {
    animation: slideLeft 1s ease-in;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-right-in {
    animation: slideRight 1s ease-in;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up-in {
    animation: slideUp 1s ease-in;
}

@media screen and (max-width: 1200px) {
    .full-screen-header{
        padding: 80px;
    }

    .about-me-text{
        font-size: 18px;
    }

    .profile-img{
        height:250px;
        border-radius: 15%;
    }

    h1{
        font-size: 80px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {

    .div-header{
        top: -50px;
    }

    .talks-title{
        text-align: center;
    }

    mat-drawer-container{
        background-color: #C7F6F6;
    }

    .about-me-text{
        display: none;
    }

    .container{
        display: none;
    }

    .about-me-button{
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
    }

    .about-me-button:hover:after {
        transform: translate(0, 0);
    }
    
    .about-me-button:active {
        background-color: #fff;
        outline: 0;
    }
    
    .about-me-button:hover {
        outline: 0;
    }
    
    @media (min-width: 768px) {
      .about-me-button {
        padding: 0 40px;
      }
    }

    .profile-img {
        height: 30vh;
        max-height: 300px;
        border-radius: 50%;
    }

    h1{
        font-size: 50px;
    }

    .phone-screen{
        display: flex;
    }

    .grid {
        flex-direction: column;
        margin-top: 15px;
    }

    .footer-text{
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

.info{
    padding: 10px;
    text-align: center;
    margin-block: 20px;
    line-height: 150%;
}

.info a{
    font-size: 18px;
}

#Research{
    background-color: #C6DEF1;
}

#Events{
    background-color: #F7D9C4;
}

#Teaching{
    background-color: #C9E4DE;
}

#Links{
    background-color: #FAEDCB;
}

#Contact{
    background-color: #DBCDF0;
}
